@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Lora", serif;
  height: 100vh;
  font-size: 73%;
  background-color: #f2f2f2d0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #f1f1f1;
  width: 95%;
  height: 95vh;
  border-radius: 5px;
  box-shadow: 2px 2px 20px #37373763;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dcb23ddb;
  height: 70px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top h1 {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  text-shadow: 2px 2px 20px #3c2c0192;
  color: #2a1f02e8;
  cursor: pointer;
}

form {
  width: 40%;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

form > input {
  font-family: "Lora", serif;
  width: 85%;
  padding: 6px;
  border-radius: 2px;
  font-size: 20px;
}

form > input:focus {
  transition: all 0.8s ease-in-out;
  transform: translateY(-2px);
  box-shadow: 2px 2px 20px #3c2c0163;
}

.btn {
  width: 13%;
  padding: 7px;
  font-size: 19px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 20px #3c2c0163;
}

/* MIDDLE HOME PAGE */
.results {
  height: 80%;
}

.middle {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 9px;
  padding: 5px 10px;
}

.spinner,
.welcome-message,
.message {
  font-size: 20px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  background-color: #e1e3e1db;
  border-radius: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding-bottom: 9px;
}

.recipe img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.recipe h1 {
  text-align: center;
  font-size: 18px;
  color: #342707c7;
}

.recipe p {
  font-size: 11px;
  color: #523c03d1;
}

.pagination {
  background-color: #eceaeae9;
  margin: 8px 40px 0 40px;
  padding: 6px 1rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
}

.hidden {
  cursor: not-allowed;
  background-color: #171717cd;
}
