@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  position: relative;
  font-family: "Lora", serif;
  height: 100vh;
  font-size: 73%;
  background-color: #f2f2f2d0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #f1f1f1;
  width: 95%;
  height: 95vh;
  border-radius: 5px;
  box-shadow: 2px 2px 20px #37373763;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcb23ddb;
  height: 70px;
  padding: 0 3rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top h1 {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  text-shadow: 2px 2px 20px #3c2c0192;
  color: #2a1f02e8;
  cursor: pointer;
}

form {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

form > input {
  font-family: "Lora", serif;
  width: 85%;
  padding: 6px;
  border-radius: 2px;
  font-size: 20px;
}

form > input:focus {
  transition: all 0.8s ease-in-out;
  transform: translateY(-2px);
  box-shadow: 2px 2px 20px #3c2c0163;
}

.btn {
  padding: 7px;
  font-size: 19px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 20px #3c2c0163;
}

/* MIDDLE HOME PAGE */
.results {
  height: 80%;
}

.middle {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 9px;
  padding: 5px 10px;
}

.spinner,
.welcome-message,
.message {
  font-size: 20px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  background-color: #e1e3e1db;
  border-radius: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding-bottom: 9px;
}

.recipe img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.recipe h1 {
  text-align: center;
  font-size: 18px;
  color: #342707c7;
}

.recipe p {
  font-size: 11px;
  color: #523c03d1;
}

.pagination {
  background-color: #eceaeae9;
  margin: 8px 40px 0 40px;
  padding: 6px 1rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
}

/* OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4c472be0;
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal {
  width: 90%;
  height: 90%;
  background: #ffffffde;
  border-radius: 4px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 300px 1fr;
}

.top-modal {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.top-modal h3 {
  padding: 5px 9px;
  font-size: 25px;
  background: linear-gradient(to top left, #de9204e8, #a7a706ee);
  transform: rotate(-5deg);
  color: #fff;
  text-align: center;
}

.top-modal button {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #de9204e8;
  font-size: 25px;
  font-weight: 900;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
}

.bottom-modal {
  background: orange;
  padding: 10px 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bottom-modal h2 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.ingredients-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  height: 400px;
  overflow-y: scroll;
}

.ingredients-lists li {
  font-size: 14px;
  line-height: 20px;
}

.hidden {
  display: none;
}
